/* setting default  */
*{
    padding: 0px;
    margin: 0px;
}
:root{
    --navbar-hight: 60px;
}

/* navigation bar  */
#navbar{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    
    width: 100%;
}
#navbar::before{
    content: "";
    background-color: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    
    opacity: 70%;
}
#logo img{
    height: 60px;
    margin: 10px 35px;
}
#navbar ul{
    display: flex;

}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    padding: 10px 22px;
    display: block;
    margin: 25px;
    /* width: 100px; */
    /* width: 150px; */
    text-decoration: none;
    color: white;
    border-radius: 15px;
    
}
#navbar ul li a:hover{
    background-color: white;
    color: #000;
}


/* setting home  */
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 300px;
    height: 800px;
    position: relative;    
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Tiro Tamil', serif;
}
#home p{
    color: white;
    padding: 12px;
    font-size: 1.5rem;
    /* font-family: 'Tiro Tamil', serif; */
}
#home::before{
    content: "";
    background: url('../bg1.jpg');
    position: absolute;
    height: 100%;
    width: 100%;
    
    z-index: -1;
    
}

/*utility class*/
.center{
    text-align: center;
}
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(159, 58, 58);
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 100px;
    cursor: pointer;
    color: white;
}
.p-heading{
    font-size: 2.5rem;
    padding: 12px;
    /* height: 40px; */

}



/* services section  */
#services{
    display: flex;
    margin: 34px;

}
#services .box{
    border: 2px solid maroon ;
    width: 100%;
    margin: 0px 20px;
    border-radius: 10px;
    background-color: beige ;
}
#services .box img{
    width: 200px;
    display: block;
    margin: auto;
    padding: 15px;
}




/* our clients  */
#clients{
    position: relative;
    height: 350px;
    
}
#clients::before{
    content: "";
    background: url(../bg.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}
#our-clients{
    display: flex;
    justify-content: center;
}




#contact{
    display: flex;
    flex-direction: column;
    position: relative;
    

}
#contact::before{
    
    
    content: "";
    background: url(..//contact.jpg) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;

}
.client-item{
    height: 150px;
    padding: 25px  50px;
}

#c-form{
    
    display: inline-block;
    margin: auto;
}
form{
    border: 2px solid black;
    border-radius: 15px;
    background: white;
    width: auto;
    display: flex;
    margin: 0px 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}


form div{
    padding: 25px;
    font-size: large;
    justify-content: center;
}

form input{
    height: 25px;
    width: 300px;
    border-radius: 10px;
}



/* footer  */

footer{
    background: #000;
    color: white;
    padding: 10px;
    
}
footer p{
    text-align: center;
}